.App {
  text-align: center;

  #quote-box{
    background-color:white;
    border-radius: 2em 0;
    padding:25px;
    color:#282c34;

    #author{
      text-align: end;
      font-size:14px;
      font-style: italic;
    }
    .button{

    #tweet-quote{
      float:left;
      padding: 10px;
      border-radius: 5px;
      color:white;
      text-decoration: none;
    }
  }
    #new-quote{
      float:right;
      color: white;
      border: none;
      border-radius:5%;
      padding: 10px;
      cursor: pointer;
    

    }
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
}



